{% extends 'base.html.twig' %}

{% block body %}

    <!-- ********** SECTION 1 HEADER IMG PARALLAX EFFECT  **********-->
    <section class="about-header">
        <!-- ********** PARALLAX IMAGE SECTION **********-->
        <div class="parallax-img">
            <div class="parallax-container">
                <div class="parallax">
                    <img src="{{asset('assets/images/plx-about.jpg')}}">
                </div>
            </div>
        </div>
    </section>

    <!-- ********** SECTION 2 TEXT ABOUT THIS WEBSITE **********-->
    <section class="about">

        <div class="container">
            <div class="row">
                <div class="header-img">
                    <h1>About</br><span>WE SHARE</span></h1>
                </div>
                <div class="about-who col s12 m12 l6">
                    <img src="{{asset('assets/images/who.png')}}">
                    <h1><span>Who we are ?</span></h1>
                    <p>
                        We created We Share to help you tease out local knowledge, hidden secrets, stories and informations about the world around you.<br>
                        You can annotate places in the real world, leave notes tagged to a specific geographic location, about places where to eat or what to visit !
                    </p>
                </div>
                <div class="about-what col s12 m12 l6">
                    <img src="{{asset('assets/images/what.png')}}">
                    <h1><span>What we do ?</span></h1>
                    <p>
                        We created We Share to help you tease out local knowledge, hidden secrets, stories and informations about the world around you.<br>
                        You can annotate places in the real world, leave notes tagged to a specific geographic location, about places where to eat or what to visit !
                    </p>
                </div>
            </div>
        </div>
        
    </section>

    <!-- ********** PARALLAX IMAGE SECTION **********-->
    <div class="parallax-img">
        <div class="parallax-container">
            <div class="parallax"><img src="{{asset('assets/images/plx-about-2.jpg')}}"></div>
        </div>
    </div>

    <!-- ********** SECTION 3 SHARE AN EXPERIENCE **********-->
    <section class="about-numbers">
        <div class="container">
            <div class="numbers">
                <div class="row">
                    <div class="col s12 center">
                        <h1><span>We Share is already...</span></h1>
                    </div>
                </div>
                <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4 l4">
                    <div class="icon-block center">
                        <img src="{{asset('assets/images/users.png')}}">
                        {% set totalUser = 0 %}

                        {% for user in allUser %}

                            {% set totalUser = totalUser + 1 %}

                        {% endfor %}
                        <h3 class="center count-animation">{{ totalUser }}</h3>
                        <p class="light">Users</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                <div class="icon-block center">
                        <img src="{{asset('assets/images/story.png')}}">
                        {% set totalPost = 0 %}

                        {% for post in allPost %}

                            {% set totalPost = totalPost + 1 %}

                        {% endfor %}
                        <h3 class="center count-animation">{{ totalPost }}</h3>
                        <p class="light">Story shared</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="icon-block center">
                        <img src="{{asset('assets/images/review.png')}}">
                        {% set totalReview = 0 %}

                        {% for review in allReview %}

                            {% set totalReview = totalReview + 1 %}

                        {% endfor %}
                        <h3 class="center count-animation">{{ totalReview }}</h3>
                        <p class="light">Reviews</p>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </section>

    <!-- ********** SECTION 4 FAQ **********-->
    <section>
        <div class="container">
            <h1 class="center-align"><span>FAQ</span></h1>
            <div class="row" style="display:flex; justify-content: center;">
                <div class="col l10" style="margin: 0 auto;">
                    <div class="collapse-faq center-align">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

{% endblock %}