{% extends 'base.html.twig' %}

{% block body %}

    <!-- ********** SECTION 1 HEADER IMG **********-->
    <section class="about-header">
        <div class="header-img">
            <h1><span>About</span><br>We Share</h1>
        </div> 
    </section>

    <!-- ********** SECTION 2 TEXT ABOUT THIS WEBSITE **********-->
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="about-who col s12 m12 l6">
                    <img src="{{asset('assets/images/who.png')}}">
                    <h1><span>Who We are ?</span></h1>
                    <p>
                        We created <b>We Share</b> to help you tease out local knowledge, hidden secrets, stories and informations about the world around you.<br>
                        You can annotate places in the real world, leave notes tagged to a specific geographic location, about places where to eat or what to visit !
                    </p>
                </div>
                <div class="about-what col s12 m12 l6">
                    <img src="{{asset('assets/images/what.png')}}">
                    <h1><span>What can You do ?</span></h1>
                    <p>
                        Your trip planning will be a lot less stressful. With <b>We Share</b>, you can search through our posts by restaurant, activity and destination to plan your next adventure.</br>
                        You can also review places you have been to advise other related on your personnal experience !
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- ********** SECTION 3 SHARE AN EXPERIENCE **********-->
    <section class="about-numbers">
        <div class="container">
            <div class="numbers">
                <div class="row">
                    <div class="col s12 center">
                        <h1><span>We Share is already...</span></h1>
                    </div>
                </div>
                <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4 l4">
                    <div class="icon-block center">
                        <img src="{{asset('assets/images/users.png')}}">
                        {% set totalUser = 0 %}

                        {% for user in allUser %}

                            {% set totalUser = totalUser + 1 %}

                        {% endfor %}
                        <h3 class="center count-animation">{{ totalUser }}</h3>
                        <p class="light">Users</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                <div class="icon-block center">
                        <img src="{{asset('assets/images/story.png')}}">
                        {% set totalPost = 0 %}

                        {% for post in allPost %}

                            {% set totalPost = totalPost + 1 %}

                        {% endfor %}
                        <h3 class="center count-animation">{{ totalPost }}</h3>
                        <p class="light">Story shared</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="icon-block center">
                        <img src="{{asset('assets/images/review.png')}}">
                        {% set totalReview = 0 %}

                        {% for review in allReview %}

                            {% set totalReview = totalReview + 1 %}

                        {% endfor %}
                        <h3 class="center count-animation">{{ totalReview }}</h3>
                        <p class="light">Reviews</p>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </section>

    <!-- ********** SECTION 4 FAQ **********-->
    <section class="about-faq">
        <div class="container">
            <h1 class="center-align"><span>FAQ</span></h1>
            <div class="row" style="display:flex; justify-content: center;">
                <div class="col s12 l10" style="margin: 0 auto;">
                    <div class="collapse-faq center-align">
                        <ul class="collapsible">
                            {# QUESTION #}
                            <li>
                                <div class="collapsible-header">
                                    <i class="fas fa-map-marked-alt"></i>
                                    How can share my story ?
                                </div>
                                <div class="collapsible-body">
                                    <span>First of all, you can only share your story if you are register.
                                        </br>Second you have to go to the <a href="{{ path('find') }}" target="_blank">Find</a> page.</br>
                                        We have 3 categories of post :</br>
                                        <a href="{{ path ('restaurant') }}" target="_blank">Restaurants</a></br>
                                        <a href="{{ path ('activity') }}" target="_blank">Activities</a></br>
                                        <a href="{{ path ('destination') }}" target="_blank">Destinations</a></br>
                                        Then search for the place you're looking for and click on "Add a review" button. Fill the form and you're good !</br>
                                        <b>Juste a quick remimder, the Admin can delete your review if it is inappropriate, such as including bullying or harassment, hate speech or graphic violence...</b>
                                    </span>
                                </div>
                            </li>
                            {# QUESTION #}
                            <li>
                                <div class="collapsible-header">
                                    <i class="fas fa-search-location"></i>
                                    Where can I find the reviews that I posted ?
                                </div>
                                <div class="collapsible-body">
                                    <span>You'll find all the reviews you posted on your <b>profile page</b> in the "reviews" tab next to your "informations"</span>
                                </div>
                            </li>
                            {# QUESTION #}
                            <li>
                                <div class="collapsible-header">
                                    <i class="fas fa-user-circle"></i>
                                    Where can I change my personnal informations ?
                                </div>
                                <div class="collapsible-body">
                                    <span>Go to your <b>profile page</b> and click on the "edit my profile" button.</span>
                                </div>
                            </li>
                            {# QUESTION #}
                            <li>
                                <div class="collapsible-header">
                                    <i class="far fa-trash-alt"></i>
                                    Why my review has been deleted ?
                                </div>
                                <div class="collapsible-body">
                                    <span><b>The Admin can delete your review if it is inappropriate, such as including bullying or harassment, hate speech or graphic violence...</b></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

{% endblock %}