{% extends 'base.html.twig' %}

{% block title %}We Share{% endblock %}

{% block body %}

    {#********** SECTION 1 HEADER IMG PARALLAX EFFECT  **********#}
    <section class="header-section">
        <div class="header-img">
            <div class="row">
                <div class="col s12 m6 l4">
                    <h1><span>WE SHARE</span><br>Experiences of travelling</h1>
                    <div class="mouse">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#********** SECTION 2 TOP RATED PLACES **********#}
    <section class="top-rated pt-5 pb-5">

        <!-- **** CAROUSEL ****-->
        <div class="carousel" data-flickity='{ "groupCells": true }'>

            {# <?php for ($i=0; $i < 9; $i++) { ?>  #}

                <div class="carousel-cell">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{{asset('assets/images/boat.jpg')}}">
                                </div>
                                <div class="card-content">
                                    <h5>TITLE</h5>
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                        I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-rating">
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star_half</i>
                                    <i class="material-icons">star_border</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {# <?php    } ?> #}
        </div>

    </section>

    <!-- ********** PARALLAX IMAGE SECTION **********-->
    <div class="parallax-img">
        <div class="parallax-container">
            <div class="parallax">
                <img src="{{asset('assets/images/bg-header.jpg')}}">
            </div>
        </div>
    </div>

    {#********** SECTION 3 BEST OR FIND **********#}
    <section class="share-find">

        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6 share">
                    {# IF CONNECTED -> SHARE // ELSE -> LOGIN #}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path ('top_ten') }}">
                            <img src="{{asset('assets/images/share-img.png')}}">
                            <h1><span>TOP RATED</span></h1>
                        </a>
                        {% else %}
                            <a href="{{ path ('app_login') }}">
                                <img src="{{asset('assets/images/connect-share.png')}}">
                                <h1 class="center-align"><span>CONNECT TO SHARE</span></h1>
                            </a>
                    {% endif %} 
                </div>
                <div class="col s12 m6 l6 find">
                    <a href="{{ path ('find') }}">
                        <img src="{{asset('assets/images/find-img.png')}}">
                        <h1><span>FIND</span></h1>
                    </a>
                </div>
            </div>
        </div>

        
    </section>

    {#********** SECTION DID YOU KNOW ? RANDOM **********#}
    <section class="did-you-know">

        <div class="container">
            <div class="row">
                <div class="col s12 m6 l12 random">

                   
                </div>
            </div>
        
        </div>


    </section>

{% endblock %}
