{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h1><span>Sign up</span></h1>
                </div>
            </div>
            <!--   Form Section   -->
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        {{ form_start(registrationForm) }}
                            {{ form_label(registrationForm.email, 'Email *') }}
                            {{ form_widget(registrationForm.email) }}

                            {{ form_label(registrationForm.user_name, 'User Name *') }}
                            {{ form_widget(registrationForm.user_name) }}

                            {{ form_label(registrationForm.user_description, 'Description *') }}
                            {{ form_widget(registrationForm.user_description) }}

                            {{ form_row(registrationForm.Password, {'attr' : {'class' : 'validate', 'type' : 'password', 'name' : 'confirm-password', 'id' : 'confirm-password', 'placeholder' : 'Your password should be at least 6 characters' }} ) }}
                            <!-- HIDE & SHOW PASSWORD JQUERY -->
                            <span toggle="#confirm-password" type ="password" class="field-icon toggle-password"><span class="material-icons">visibility</span></span> 

                            <div class="input-field col s12 l12">    
                                <button class="btn btn-large waves-effect waves-light brown darken-2 col s12" style="margin-top: 20px;" type="submit" name="action">
                                    Create
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                            
                        {{ form_end(registrationForm) }}
                            
                        <div class="links center-align">
                            <p>* All the fields that contains the asterisk are mandatory</p>
                        </div>
                        <div class="links center-align">
                            <a href="{{ path ('app_login') }}">Already have an account? Click here</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}