{% extends 'base.html.twig' %}

{% block title %}Admin Index{% endblock %}

{% block body %}

    <section class="admin-index">
        {# HEADER NAV BAR #}
        <header class='main-nav'>
            <ul>
                <a href="{{ path ('admin')}}">
                    <li style="background: #525252;">
                    <i class='fa fa-tachometer'></i>
                    <span>Dashboard</span>
                    </li>
                </a>
                <a href="{{ path ('admin_post_show_all')}}">
                    <li>
                    <i class="far fa-file-image"></i>
                    <span>Post</span>
                    </li>
                </a>
                <a href="{{ path ('admin_review_show_all')}}">
                    <li>
                    <i class="fas fa-comments"></i>
                    <span>Review</span>
                    </li>
                </a>
            </ul>
        </header>

        <main class="container content center-align">
            <div class="row">
                <div class="col s12 l4">
                    <div class="card orange lighten-5">
                        <div class="card-content">
                            <span class="card-title">USERS</span>
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="card brown lighten-5">
                        <div class="card-content">
                            <span class="card-title">POSTS</span>
                            <i class="fas fa-globe-europe"></i>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="card green lighten-5">
                        <div class="card-content">
                            <span class="card-title">REVIEW</span>
                            <i class="far fa-comment-dots"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {# POSTS #}
                <div class="col s12 l6">
                    <div style="padding: 35px;" align="center" class="card">
                        <div class="row">
                            <div class="center-align card-title">
                                <b>Post</b>
                            </div>
                        </div>
                        <div class="row">
                            <a href="{{ path ('admin_post_new')}}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">library_add</i>
                                <span class="indigo-text text-lighten-1"><h5>Create</h5></span>
                            </div>
                            </a>
                            <div class="col s1">&nbsp;</div>
                            <div class="col s1">&nbsp;</div>

                            <a href="{{ path ('admin_post_show_all')}}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">remove_red_eye</i>
                                <span class="indigo-text text-lighten-1"><h5>Show</h5></span>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                {# REVIEWS #}
                <div class="col s12 l6">
                    <div style="padding: 35px;" align="center" class="card">
                        <div class="row">
                            <div class="center-align card-title">
                            <b>Review</b>
                            </div>
                        </div>
                        <div class="row">
                            <a href="{{ path ('admin_review_show_all')}}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">remove_red_eye</i>
                                <span class="indigo-text text-lighten-1"><h5>Show</h5></span>
                            </div>
                            </a>
                            <div class="col s1">&nbsp;</div>
                            <div class="col s1">&nbsp;</div>

                            <a href="#!">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">mode_edit</i>
                                <span class="indigo-text text-lighten-1"><h5>Edit</h5></span>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </main>

    </section>

{% endblock %}
