{% extends 'base.html.twig' %}

{% block title %}Admin Index{% endblock %}

{% block body %}

    <section class="admin-index">
        {# HEADER NAV BAR #}
        <header class='main-nav'>
            <h2>Welcome to the Admin Dashboard</h2>
            <ul>
                <a href="{{ path ('admin')}}">
                    <li style="background: #525252;">
                    <i class='fa fa-tachometer'></i>
                    <span>Dashboard</span>
                    </li>
                </a>
                 <a href="{{ path ('admin_user_show_all')}}">
                    <li>
                    <i class="far fa-user"></i>
                    <span>User</span>
                    </li>
                </a>
                <a href="{{ path ('admin_post_show_all')}}">
                    <li>
                    <i class="far fa-file-image"></i>
                    <span>Post</span>
                    </li>
                </a>
                <a href="{{ path ('admin_review_show_all')}}">
                    <li>
                    <i class="fas fa-comments"></i>
                    <span>Review</span>
                    </li>
                </a>
            </ul>
        </header>

        <main class="container content center-align">
            {# DISPLAY INFOS ABOUT USERS / POSTS / REVIEWS #}
            <div class="row">
                <div class="col s12 l4">
                    {# CARD USERS #}
                    <div class="card purple lighten-4">
                        <div class="card-content">
                            {% set totalUser = 0 %}

                            {% for user in users %}

                                {% set totalUser = totalUser + 1 %}

                            {% endfor %}
                            <span class="card-title">{{ totalUser }}</span>
                            <span class="card-title">USERS</span>
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    {# CARD POSTS #}
                    <div class="card light-blue lighten-4">
                        <div class="card-content">
                            {% set totalPost = 0 %}

                            {% for post in allPost %}

                                {% set totalPost = totalPost + 1 %}

                            {% endfor %}
                            <span class="card-title">{{ totalPost }}</span>
                            <span class="card-title">POSTS</span>
                            <i class="fas fa-globe-europe"></i>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    {# CARD REVIEWS #}
                    <div class="card green lighten-5">
                        <div class="card-content">
                            {% set totalReview = 0 %}

                            {% for review in allReview %}

                                {% set totalReview = totalReview + 1 %}

                            {% endfor %}
                            <span class="card-title">{{ totalReview }}</span>
                            <span class="card-title">REVIEWS</span>
                            <i class="far fa-comment-dots"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {# USERS #}
                <div class="col s12 m12 l4">
                    <div style="padding: 35px;" align="center" class="card purple lighten-4">
                        <div class="row">
                            <div class="center-align card-title">
                                <b>USERS</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l12">
                                <a href="{{ path ('admin_user_show_all')}}">
                                    <div style="padding: 30px; border-radius:3px; width:100%;" class="purple lighten-3 waves-effect">
                                        <i class="black-text text-black large material-icons">remove_red_eye</i>
                                        <span class="black-text text-black"><h5>Show</h5></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {# POSTS #}
                <div class="col s12 m12 l4">
                    <div class="card light-blue lighten-4" style="padding: 35px;" align="center">
                        <div class="row">
                            <div class="center-align card-title">
                                <b>POSTS</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l6 s12">
                                <a href="{{ path ('admin_post_new')}}">
                                    <div style="padding: 30px; border-radius:3px; width:100%;" class="light-blue lighten-3 lighten-3 col waves-effect">
                                        <i class="black-text text-black large material-icons">library_add</i>
                                        <span class="black-text text-black"><h5>Create</h5></span>
                                    </div>
                                </a>
                            </div>
                            <div class="col l6 s12">
                                <a href="{{ path ('admin_post_show_all')}}">
                                    <div style="padding: 30px; border-radius:3px; width:100%;" class="light-blue lighten-3 col waves-effect">
                                        <i class="black-text text-black large material-icons">remove_red_eye</i>
                                        <span class="black-text text-black"><h5>Show</h5></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {# REVIEWS #}
                <div class="col s12 m12 l4">
                    <div style="padding: 35px;" align="center" class="card green lighten-5">
                        <div class="row">
                            <div class="center-align card-title">
                                <b>REVIEWS</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l12">
                                <a href="{{ path ('admin_review_show_all')}}">
                                    <div style="padding: 30px; border-radius:3px; width:100%;" class="green lighten-4 waves-effect">
                                        <i class="black-text text-black large material-icons">remove_red_eye</i>
                                        <span class="black-text text-black"><h5>Show</h5></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# GRAPHIC DATA GIF #}
            <div class="row data-graphics">
                <div class="col s12 l6">
                    <div class="card">
                        <img src="{{asset('assets/images/review.gif') }}">
                    </div>
                </div>
                <div class="col s12 l6">
                    <div class="card">
                        <img src="{{asset('assets/images/user.gif') }}">
                    </div>
                </div>
            </div>
        </main>

    </section>

{% endblock %}
