{% extends 'base.html.twig' %}

{% block title %}Admin All Post{% endblock %}

{% block body %}

    <section class="admin-posts">
        {# HEADER NAV BAR #}
        <header class='main-nav'>
            <ul>
                <a href="{{ path ('admin')}}">
                    <li>
                    <i class='fa fa-tachometer'></i>
                    <span>Dashboard</span>
                    </li>
                </a>
                <a href="{{ path ('admin_post_show_all')}}">
                    <li style="background: #525252;">
                    <i class="far fa-file-image"></i>
                    <span>Post</span>
                    </li>
                </a>
                <a href="{{ path ('admin_review_show_all')}}">
                    <li>
                    <i class="fas fa-comments"></i>
                    <span>Review</span>
                    </li>
                </a>
            </ul>
        </header>
        {# TABLE SHOW ALL POST #}
        <div class="container content">
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Picture</th>
                        <th>Web Site</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.categories }}</td>
                            <td>{{ post.name }}</td>
                            <td>{{ post.description }}</td>
                            <td>{{ post.address }}</td>
                            <td>{{ post.city }}</td>
                            <td>{{ post.country }}</td>
                            <td>{{ post.picture }}</td>
                            <td>{{ post.webSite }}</td>
                            <td>{{ post.phoneNumber }}</td>
                            <td><button>Delete</button></td>
                            <td><button>Edit</button></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    
{% endblock %}