{% extends 'base.html.twig' %}

{% block title %}Admin Post Show{% endblock %}

{% block body %}

    <section class="admin-post-show">
        {# HEADER NAV BAR #}
        <header class='main-nav'>
            <div class="row">
                <ul>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin')}}">
                            <li>
                            <i class='fa fa-tachometer'></i>
                            <span>Dashboard</span>
                            </li>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin_user_show_all')}}">
                            <li>
                            <i class="far fa-user"></i>
                            <span>User</span>
                            </li>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin_post_show_all')}}">
                            <li style="background: #525252;">
                            <i class="far fa-file-image"></i>
                            <span>Post</span>
                            </li>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin_review_show_all')}}">
                            <li>
                            <i class="fas fa-comments"></i>
                            <span>Review</span>
                            </li>
                        </a>
                    </div>
                </ul>
            </div>
        </header>
    </section>

    <main class="container content center-align">
        <!-- ********** SECTION 2 HEADER IMG **********-->
        <section>
            <div class="card-post">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m7 l12">
                            <div class="card center-align z-depth-4">
                                <div class="card-image">
                                    <img src="{{asset('assets/images/picture-post/' ~ post.picture) }}">
                                </div>
                                <div class="card-title">
                                    <h3>{{ post.name }}</h3>
                                </div>
                                <div class="card-content center-align">
                                    <p class="truncate">{{ post.description }}</p>
                                    {% if rateAvg is empty %}
                                        <h4>No review yet <i class="material-icons amber-text">star</i></h4>
                                        {% else %}
                                            <h4> {{rateAvg|number_format(1)}} / 5  <i class="material-icons amber-text">star</i></h4>
                                    {% endif %}
                                    <div class="card-action">
                                        <h5>{{ post.address }}, {{ post.city }}, {{ post.country }}</h5>
                                    </div>
                                </div>
                                {% if post.webSite %}
                                    <div class="card-action">
                                        <div class="row">
                                            <div class="col l12">
                                                <a class="card-link-website" href="{{ post.webSite }}" target="_blank"><i class="material-icons">screen_share</i>Link to website</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if post.phoneNumber %}
                                        <div class="card-action">
                                            <div class="row">
                                                <div class="col l12">
                                                    <h5 class="card-phone"><i class="material-icons">contact_phone</i> {{ post.phoneNumber }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}