{% extends 'base.html.twig' %}

{% block title %}Admin Edit Post{% endblock %}

{% block body %}

    <!-- ********** FORM TO EDIT POST ********** -->
    <section class="admin-post-edit">
        {# HEADER NAV BAR #}
        <header class='main-nav'>
            <h2 align="center">Admin Edit Post</h2>
            <div class="row">
                <ul>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin')}}">
                            <li>
                            <i class='fa fa-tachometer'></i>
                            <span>Dashboard</span>
                            </li>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin_user_show_all')}}">
                            <li>
                            <i class="far fa-user"></i>
                            <span>User</span>
                            </li>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin_post_show_all')}}">
                            <li style="background: #525252;">
                            <i class="far fa-file-image"></i>
                            <span>Post</span>
                            </li>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin_review_show_all')}}">
                            <li>
                            <i class="fas fa-comments"></i>
                            <span>Review</span>
                            </li>
                        </a>
                    </div>
                </ul>
            </div>
        </header>
        <!--   Form Section   -->
        <div class="container share-container">
            <div class="card">
                <div class="card-content">
                    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}