{% extends 'base.html.twig' %}

{% block title %}Admin All Review{% endblock %}

{% block body %}

    <section class="admin-reviews">
        {# HEADER NAV BAR #}
        <header class='main-nav'>
            <ul>
                <a href="{{ path ('admin')}}">
                    <li>
                    <i class='fa fa-tachometer'></i>
                    <span>Dashboard</span>
                    </li>
                </a>
               <a href="{{ path ('admin_post_show_all')}}">
                    <li>
                    <i class="far fa-file-image"></i>
                    <span>Post</span>
                    </li>
                </a>
                <a href="{{ path ('admin_review_show_all')}}">
                    <li style="background: #525252;">
                    <i class="fas fa-comments"></i>
                    <span>Review</span>
                    </li>
                </a>
            </ul>
        </header>
        {# TABLE SHOW ALL POST #}
        <div class="container content">
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Picture</th>
                        <th>Rate</th>
                        <th>Posted At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                        <tr data-href="{{ path('admin_review_show', {'id': review.id}) }}">
                            <td>{{ review.title }}</td>
                            <td>{{ review.description }}</td>
                            <td>{{ review.picture }}</td>
                            <td>{{ review.rate }}</td>
                            <td>{{ review.postedAt ? review.postedAt|date('Y-m-d') : '' }}</td>
                            <td>{{ include('admin/review_delete.html.twig') }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    
{% endblock %}

{# FONCTION JQUERY TO ADD A HREF TO THE TR #}
{% block javascripts %}
    <script>
        $('tr[data-href]').on("click", function() {
            document.location = $(this).data('href');
        });
    </script>

{% endblock %}