{% extends 'base.html.twig' %}

{% block title %}Admin All User{% endblock %}

{% block body %}

    <section class="admin-users">
        {# HEADER NAV BAR #}
        <header class='main-nav'>
            <div class="row">
                <ul>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin')}}">
                            <li>
                            <i class='fa fa-tachometer'></i>
                            <span>Dashboard</span>
                            </li>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin_user_show_all')}}">
                            <li style="background: #525252;">
                            <i class="far fa-user"></i>
                            <span>User</span>
                            </li>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin_post_show_all')}}">
                            <li>
                            <i class="far fa-file-image"></i>
                            <span>Post</span>
                            </li>
                        </a>
                    </div>
                    <div class="col s6 m6 l3">
                        <a href="{{ path ('admin_review_show_all')}}">
                            <li>
                            <i class="fas fa-comments"></i>
                            <span>Review</span>
                            </li>
                        </a>
                    </div>
                </ul>
            </div>
        </header>
        {# TABLE SHOW ALL POST #}
        <div class="container content">
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                            <tr data-href="{{ path('admin_user_show', {'id': user.id}) }}">
                                <td>{{ user.userName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.userDescription }}</td>
                                <td>{{ include('admin/user_delete.html.twig') }}</td>
                            </tr>
                        {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    
{% endblock %}

{# FONCTION JQUERY TO ADD A HREF TO THE TR #}
{% block javascripts %}
    <script>
        $('tr[data-href]').on("click", function() {
            document.location = $(this).data('href');
        });
    </script>

{% endblock %}