{% extends 'base.html.twig' %}

{% block title %}{{ user.userName }}{% endblock %}

{% block body %}

    <section class="admin-user-show">
        {# HEADER NAV BAR #}
        <header class='main-nav'>
           <ul>
                <div class="col s6 m6 l3">
                    <a href="{{ path ('admin')}}">
                        <li>
                        <i class='fa fa-tachometer'></i>
                        <span>Dashboard</span>
                        </li>
                    </a>
                </div>
                <div class="col s6 m6 l3">
                    <a href="{{ path ('admin_user_show_all')}}">
                        <li style="background: #525252;">
                        <i class="far fa-user"></i>
                        <span>User</span>
                        </li>
                    </a>
                </div>
                <div class="col s6 m6 l3">
                    <a href="{{ path ('admin_post_show_all')}}">
                        <li>
                        <i class="far fa-file-image"></i>
                        <span>Post</span>
                        </li>
                    </a>
                </div>
                <div class="col s6 m6 l3">
                    <a href="{{ path ('admin_review_show_all')}}">
                        <li>
                        <i class="fas fa-comments"></i>
                        <span>Review</span>
                        </li>
                    </a>
                </div>
            </ul>
        </header>
    </section>

    <main class="container content center-align">
        <!-- ********** SECTION 2 HEADER IMG PARALLAX EFFECT  **********-->
        <section>
            <div class="card-post">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m7 l12">
                            <div class="card center-align z-depth-4">
                                <div class="card-image">
                                    <img src="{{asset('assets/images/user-picture/' ~ user.profilePicture) }}">
                                </div>
                                <div class="card-title">
                                    <h3>{{ user.userName }}</h3>
                                </div>
                                <div class="card-content center-align">
                                    <p>{{ user.userDescription }}</p>
                                    <div class="card-action">
                                        <h5>{{ user.email }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}