{% extends 'base.html.twig' %}

{% block body %}
    <!-- ********** SECTION 1 TABS USER PROFILE  **********-->
    <section class="user-profile">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#infos">Informations</a></li>
                    <li class="tab col s3"><a href="#reviews">Reviews</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="tab col s3"><a href="#posts">Posts</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- ****** TABS 1 PROFILE INFOS  ******-->
            <div id="infos" class="col s12">
                <div class="container">
                    <div class="card my-profile">
                        <h3>My profile :</h3>
                        <div class="row">
                            {% if user.profilePicture %}
                                <img class="circle" src="{{asset('assets/images/user-picture/' ~ user.profilePicture) }}">
                                {% else %}
                                <img class="circle" src="{{asset('assets/images/avatar-picture.png')}}">
                                <p>* Personnalize your profile picture</p>
                            {% endif %}
                        </div>
                        <div class="row">
                            <h3>{{ user.userName }}</h3>
                            {% if is_granted('ROLE_ADMIN') %}
                                <p>You are Admin.</p>
                            {% endif %}
                        </div>
                        <div class="row">
                            <h3>About me</h3>
                            <p>{{ user.userDescription }}</p>
                        </div>
                        <div class="row">
                            <h3>Email</h3>
                            <input type="email" value="{{ user.email }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required disabled autofocus>
                        </div>
                        <div class="row">
                            {# IF REVIEW = 1 WRITE REVIEW W/OUT AN "S" #}
                            {% if countReview <= 1 %}
                                <h3>Review</h3>
                                <h4>{{ countReview }}</h4>
                                {% else %}
                                <h3>Reviews</h3>
                                <h4>{{ countReview }}</h4>
                            {% endif %}
                        </div>
                        <a class="btn-edit waves-effect waves-light btn brown" href="{{ path('user_edit', {'id': user.id}) }}">Edit my profile</a>
                    </div>
                </div>
            </div>
            <!-- ****** TABS 2 USER'S REVIEWS  ******-->
            <div id="reviews" class="col s12">
                <div class="container">
                    {# IF USER HAS NO REVIEW POSTED YET #}
                    {% if allReview is null or allReview is empty %}
                        <div class="card empty-post">
                            <h3>Share your first story with the community !</h3>
                            <p>You've experienced a great moment ? Or a bad one ? We want to know everything about it.</p>
                            <p>Sharying stories is what connects and brings us together.</p>
                            <p>The community is made up of amazing people, from the individuals and families who benefit from your story to plan their next trip !</p>
                            <p>Wonder around to find a place you've been to share your experience.</p>
                            <p>Or Wonder around and plan your next trip according to the community reviews !</p>
                            <a class="btn-edit waves-effect waves-light btn brown" href="{{ path('find') }}">Share !</a>
                        </div>
                    {% endif %}
                    {# LOOP IF USER HAS REVIEW POSTED #}
                    {% for review in allReview %}
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">
                                    <h4> {{review.title}} </h4>
                                    <h4> {{review.rate}} / 5 <i class="material-icons">star</i></h4>
                                </div>
                                <div class="collapsible-body"><span>{{review.description}}</span></div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <!-- ****** TABS 3 POSTS ONLY IF ADMIN  ******-->
            {% if is_granted('ROLE_ADMIN') %}
                <div id="posts" class="col s12">
                    <div class="container">
                        {# IF ADMIN HAS NO POST POSTED YET #}
                        {% if allPost is null or allPost is empty %}
                            <div class="card empty-post">
                                <h3>Share your first story with the community !</h3>
                                <p>You've experienced a great moment ? Or a bad one ? We want to know everything about it.</p>
                                <p>Sharying stories is what connects and brings us together.</p>
                                <p>The community is made up of amazing people, from the individuals and families who benefit from your story to plan their next trip !</p>
                                <p>Wonder around to find a place you've been to share your experience.</p>
                                <p>Or Wonder around and plan your next trip according to the community reviews !</p>
                                <a class="btn-edit waves-effect waves-light btn brown" href="{{ path('find') }}">Share !</a>
                            </div>
                        {% endif %}
                        {# LOOP IF USER HAS REVIEW POSTED #}
                        {% for post in allPost %}
                            <ul class="collapsible">
                                <li>
                                    <div class="collapsible-header">
                                        <h4> {{post.name}} </h4>
                                        <h4> {{post.categories}} </h4>
                                    </div>
                                    <div class="collapsible-body"><span>{{post.description}}</span></div>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}