{% extends 'base.html.twig' %}

{% block body %}
    <!-- ********** SECTION 1 TABS USER PROFILE  **********-->
    <section style="margin-top:5rem" class="user-profile">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#infos">Informations</a></li>
                    <li class="tab col s3"><a href="#posts">Posts</a></li>
                    <li class="tab col s3"><a href="#reviews">Reviews</a></li>
                </ul>
            </div>
            <!-- ****** TABS 1 PROFILE INFOS  ******-->
            <div id="infos" class="col s12">
                <div class="container">
                    <div class="card my-profile">
                        <h3>My profile :</h3>
                        <div class="row">
                            {% if user.profilePicture %}
                                <img src="{{asset('assets/images/user-picture/' ~ user.profilePicture) }}">
                                {% else %}
                                <img src="{{asset('assets/images/round.png')}}">
                            {% endif %}
                        </div>
                        <div class="row">
                            <h3>{{ user.userName }}</h3>
                        </div>
                        <div class="row">
                            <h3>About me</h3>
                            <p>{{ user.userDescription }}</p>
                        </div>
                        <div class="row">
                            <h3>Email</h3>
                            <input type="email" value="{{ user.email }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required disabled autofocus>
                        </div>
                        <div class="row">
                        {# IF POST = 1 WRITE POST W/OUT AN "S" #}
                        {% if countPost <= 1 %}
                            <h3>Post</h3>
                            <h4>{{ countPost }}</h4>
                            {% else %}
                            <h3>Posts</h3>
                            <h4>{{ countPost }}</h4>
                        {% endif %}
                        </div>
                        <div class="row">
                            {# IF REVIEW = 1 WRITE REVIEW W/OUT AN "S" #}
                            {% if countReview <= 1 %}
                                <h3>Review</h3>
                                <h4>{{ countReview }}</h4>
                                {% else %}
                                <h3>Reviews</h3>
                                <h4>{{ countReview }}</h4>
                            {% endif %}
                        </div>
                        <a class="waves-effect waves-light btn brown" href="{{ path('user_edit', {'id': user.id}) }}">Edit my profile</a>
                    </div>
                </div>
            </div>
            <!-- ****** TABS 2 USER'S POSTS  ******-->
            <div id="posts" class="col s12">
                <div class="container">
                    {% for post in allPost %}
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">
                                    <div class="row">
                                        <div class="col 6">
                                            <h4> {{post.name}} </h4>
                                        </div>
                                        <div class="col 6">
                                            <h4> {{post.rate}} / 5 <i class="material-icons">star</i></h4>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="collapsible-body"><span>{{post.description}}</span></div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <!-- ****** TABS 3 USER'S REVIEWS  ******-->
            <div id="reviews" class="col s12">
                <div class="container">
                    {% for review in allReview %}
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">
                                    <h4> {{review.title}} </h4>
                                    <h4> {{review.rate}} / 5 <i class="material-icons">star</i></h4>
                                </div>
                                <div class="collapsible-body"><span>{{review.description}}</span></div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}