{% extends 'base.html.twig' %}

{% block body %}

    <!-- ********** SECTION 1 HEADER WITH TEXT **********-->
    <section class="header-find-cat">
        <div class="header-img">
            <h1><span>Your next trip</span><br>In the making</h1>
        </div> 
    </section>

    <!-- ********** SECTION 2 SEARCH BAR **********-->
    <section class="search-bar">
        <div class="container">
            <div class="row">
                <div class="col 6">
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                            <input id="search" type="Search" placeholder="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>   
        </div>
    </section>
    
    <!-- ********** BUTTON BACK TO CATEGORIES **********-->
    <div class="btn-bck-cat center-align">
        <a class="btn brown" href="{{ path ('find') }}">Back to categories</a>
    </div>

    <!-- ********** SECTION 3 RESTAURANTS CATEGORY **********-->
    <section class="card-restaurant">
        <div class="container">
            <div class="row">
                {% for post in allRestau %}
                    <div class="col s12 m12 l6">
                        <a class="card-find" href="{{ path('post_show', {'id': post.id}) }}">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="{{asset('assets/images/picture-post/' ~ post.picture) }}">
                                </div>
                                <div class="card-title">
                                    <h5>{{ post.categories }}</h5>
                                    <h3>{{ post.name }}</h3>
                                </div>
                                <div class="card-content">
                                    <p class="truncate">{{ post.description }}</p>
                                    {% if post.avgReviews == null %}
                                        <h4>No review yet <i class="material-icons">star</i></h4>
                                        {% else %}
                                        <h4> {{post.avgReviews}} / 5<i class="material-icons">star</i></h4>
                                    {% endif %}
                                    <div class="card-action">
                                        <div class="row">
                                            <div class="col l12">
                                                <h5>{{ post.city }}, {{ post.country }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {{ knp_pagination_render(allRestau) }}
        </div>
    </section>

{% endblock %}