{% extends 'base.html.twig' %}

{% block title %}{{ post.name }}{% endblock %}

{% block body %}

    <!-- ********** SECTION 1 HEADER IMG PARALLAX EFFECT  **********-->
    <section class="about-header" style="position:relative;">
        <!-- ********** PARALLAX IMAGE SECTION **********-->
        <div class="parallax-img">
            <div class="parallax-container">
                <div class="parallax">
                    <img src="{{asset('assets/images/picture-post/' ~ post.picture) }}">
                </div>
                <div class="title-post center-align">
                    <h3 style="color:#F5F5F5; font-size:4rem;">{{ post.categories }}</h3>
                    <h3 style="color:#F5F5F5; font-size:6rem;">{{ post.name }}</h3>
                </div>
            </div>
        </div>
        {# Div Overlay color #}
        <div style="position:absolute;top:0; right:0; left:0; bottom:0; z-index:1;opacity:0.33;" class="header-overlay brown lighten-4"></div>
    </section>

    <!-- ********** BUTTON ADD REVIEW & BACK TO LIST **********-->
    <section class="show-btn">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    {% if post.categories == "Restaurant" %}
                        <a class="btn brown" href="{{ path ('restaurant') }}">Back to list</a>
                        {% elseif post.categories == "Activity" %}
                            <a class="btn brown" href="{{ path ('activity') }}">Back to list</a>
                        {% else %}
                            <a class="btn brown" href="{{ path ('destination') }}">Back to list</a>
                    {% endif %}
                </div>
                <div class="col l6 s12">
                    <a class="btn light-green lighten-3" href="{{ path ('review_new', {'id': post.id}) }}">Add a review !!</a>
                </div>
            </div>
        </div>
    </section>
       
    <!-- ********** SECTION 2 **********-->
    <section>
        <div class="card-post">
            <div class="container">
                <div class="row">
                    <div class="col s12 m7 l12">
                        <div class="card center-align z-depth-4">
                            <div class="card-title">
                                <h3>{{ post.name }}</h3>
                            </div>
                            <div class="card-content center-align">
                                <p>{{ post.description }}</p>
                                {% if rateAvg is empty %}
                                    <h4>No review yet <i class="material-icons amber-text">star</i></h4>
                                    {% else %}
                                    <h4> {{rateAvg|number_format(1)}} / 5  <i class="material-icons amber-text">star</i></h4>
                                {% endif %}
                                <div class="card-action">
                                    <h5>{{ post.address }}, {{ post.city }}, {{ post.country }}</h5>
                                </div>
                            </div>
                            {% if post.webSite %}
                                <div class="card-action">
                                    <div class="row">
                                        <div class="col l12">
                                            <a class="card-link-website" href="{{ post.webSite }}" target="_blank"><i class="material-icons">screen_share</i>Link to website</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if post.phoneNumber %}
                                <div class="card-action">
                                    <div class="row">
                                        <div class="col l12">
                                            <h5 class="card-phone"><i class="material-icons">contact_phone</i> {{ post.phoneNumber }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ********** SECTION 3 REVIEWS  **********-->
    <section class="reviews-container">
        <div class="container">
            {% if countReview <= 1 %}
                    <h3 class="center-align">Review</h3>
                {% else %}
                    <h3 class="center-align">Reviews</h3>
            {% endif %}
            <!-- LOOP FOR EVERY REVIEW ON POST -->
            <ul class="collection">
                {% for review in reviewByPost %}
                    <li class="collection-item avatar">
                        <div class="row">
                            <div class="col l2">
                                <div class="row">
                                    <div class="review-profile-image">
                                        <img class="circle" src="{{asset('assets/images/user-picture/' ~ review.user.profilePicture) }}" alt="">
                                    </div>
                                    <p><b>{{ review.user.userName }}</b></p>
                                    <p class="">{{ review.postedAt ? review.postedAt|date('Y-m-d') : '' }}</p>
                                </div>
                            </div>
                            <div class="col l8 review-content">
                                <p class="flow-text" style="margin-bottom: 20px;"><b>{{ review.title }}</b></p>
                                <p>{{ review.description }}</p>
                                {% if review.picture is not empty %}
                                    <img style="width:15rem; border-radius: 30px;" src="{{asset('assets/images/picture-review/' ~ review.picture) }}">
                                {% endif %}
                            </div>
                            <div class="col l2">
                                    <p class="review-rate right" style="display:flex; align-items:center;">{{ review.rate }}<i class="material-icons amber-text">grade</i></p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {{ knp_pagination_render(reviewByPost) }}
        </div>
    </section>
    
{% endblock %}